
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 15%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(233,246,246,1) 50%, rgba(233,246,246,0) 100%);
  white-space: nowrap;
}

body {
  margin-top: 8%;
}

.rounded-button {
    background: 
      linear-gradient(to bottom, rgba(233,246,246,0.9) 0%, rgba(233,246,246,0) 100%),
      #06B5EC; 
   /* Couleur de fond du bouton */
  color: #fff; /* Couleur du texte du bouton */
  border: none;
  border-radius: 20px; /* Arrondi des coins du bouton */
  padding: 20px 60px; /* Espacement interne du bouton */
  cursor: pointer;
}

.rounded-button a {
  color: white;
}

.rounded-button {
  transition: transform 0.3s;
}

.rounded-button:hover {
   transform: scale(1.05);
}

.header-buttons {
  display: flex;
  gap: 7%;
  margin-right: 10%;
}

.logo img, .burger-icon span {
   transition: transform 0.3s
}

.logo:hover img, .burger-icon:hover span {
  transform: scale(1.1);
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Ajoute une bordure entre les résultats */
}

#searchResultsContainer p {
  display: flex;
  justify-content: center;
}


.user-image {
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  object-fit : cover;
}

.content-container {
    flex-grow: 1; /* Permet au contenu de prendre l'espace restant */
}

/* Style pour le bouton "Voir plus" */
.button-see-more {
    width: 100%; /* Occupe toute la largeur disponible */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Supprime la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */
    transition: background-color 0.3s; /* Animation de transition */
}

/* Changement de couleur de fond au survol */
.button-see-more:hover {
    background-color: #ddd;
}






.postProfil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}

.postProfil > div {
  width: 48%; /* 48% pour compenser les marges et éviter un débordement */
  box-sizing: border-box;
  margin-bottom: 20px; /* Espace entre les éléments */
}




.postAccueil {
    gap: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


 .cardCSS {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 55%;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      background-image: linear-gradient(to bottom, rgba(233,246,246,0.9) 0%, rgba(233,246,246,0) 100%);
       margin-bottom: 20px;
  }



.left-side {
  width: 60%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 4%;
}

.left-side > * {
    width: 100%;
    box-sizing: border-box; /* Pour inclure les bordures et le padding dans la largeur */
}

.right-side {
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: end;
}


  .card img {
      width: 50%;
      height: auto;
  }

  .card .img-chat {
    width: 100%;
    height: 45%;
  }

  .card .img-like {
    width: 90%;
    height: 40%;
    margin-right: 5%;
  }


  .card .img-partage {
    width: 100%;
    height: 50%;
  }

.user {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
}

  .card .imgMain {
    width: 500px; 
    height: 350px; 
    margin-top: 2%;
    cursor: pointer;
  }
  .card .titre{
    font-size:100%;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .card .imgHumain {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin-right: 5%;
    object-fit : cover;
  }
  .card .titreInfoPost{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    gap: 5px;
  }

  .card .containerPostPrix {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#cardContainer .containersolo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* Utilisez 'vw' pour la largeur de la fenêtre */
    height: 100vh; /* Utilisez 'vh' pour la hauteur de la fenêtre */
}



  .card .imgHumainMain {
    width: 10%;
    margin-right: 2%;
  }
  .card .textPrixPost{
    font-weight: bold;
    font-size: 150%;
  }
  .card .imgBuy {
    width: 25%;
    margin-left: 10px;
    cursor: pointer;
  }
  .card .description{
    text-align:left;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .card .actionButtons {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 4%;
  }
  .card .imgPostMoney{
    width: 25%;
  }
  .owner-info {
    background-color: #abe7ed;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

.card .Infos {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  height: 100%;
}

                          /* Burger */
/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
   transition: color 0.3s, background-color 0.3s;
}

.navHover {
  font-size: 25px;
}
.navHover a:hover {
  color: #111;
  background-color: #ddd;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}


/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  margin-left:10%;
  background-color: black;
  margin: 6px 0;
}

.burger-icon:hover{
  cursor: pointer;
}
#openBtn{
  margin-left: 1%;
  margin-right: 2%;
}

#searchbar{
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 90%;
  height: 5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}
                         /* Page Accueil */

/* Styles pour le bouton en bas à droite */
.fixed-button {
    position: fixed;
    bottom: 3%; 
    right: 3%; 
    background-color: #06b5ec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.fixed-button:hover {
   transform: scale(1.05);
}

.fixed-button a {
  color: white;
}

.fixed-button a:hover {
  color: white;
}

.fixed-button:hover {
  background-color: #45a3bf
}


                        /* Page Boutique */

.container-boutique {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grande-case {
    width: 50%;
    border: 2px solid #333;
    margin-top: 1%;
    background-color: rgba(233, 246, 246, 0.2);
}
.ligneBoutique {
    display: flex;
    flex-wrap: wrap;
}
.caseBoutique {
    flex: 1;
    margin: 5%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #A50000;
    transition: transform 0.3s;
}


.caseBoutique:hover {
   transform: scale(1.05);
}

.caseBoutique span {
  display: flex;
  align-items: center;
  color: #D3D3D3;
}

.caseBoutique span img {
  margin-left: auto; /* Push the image to the right */
}

.caseBInterne {
   color: #D3D3D3;
   font-weight: bold;
}

.caseBInterne {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #CC3737;
}

.imgPostMoneyBoutique{
  width: 80%;
  height: auto;
}

.titreBoutique{
  font-size: 2em;
  margin-top: 3%;
  text-align:center;
}

.MatriceCoin {
  width: 17%;
}


.MonneyBoutique {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgCoinsBoutique {
  width: 3%;
}
                                /* Page Connexion / Inscription  */

/* Styles pour le formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form label,
.form input {
    display: block;
    margin: 10px 0;
}


.form-button {
    margin: 10px 0;
}

.TitreConnexion h3 {
  margin-bottom: 20%;
  text-align: center;
}

.TitreInscription h3 {
  margin-bottom: 8%;
  text-align: center;
}

#formInscription {
  display: none;
  flex-direction: column;
  padding: 20px;
}

.InscriptionBloc {
  display: flex;
  flex-direction: row;
}
.InscriptionGauche {
  margin-right: 15%;
}

.InscriptionGauche h3,
.InscriptionDroite button {
    width: 100%; /* Make sure these elements span the full width of their containers */
}

.InscriptionGauche label,
.InscriptionDroite label,
.InscriptionGauche input,
.InscriptionDroite input {
    width: 100%; /* Make sure labels and inputs span the full width of their containers */
    margin-bottom: 10px;
}

.boutonsConnexionInscription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
  gap: 5%;
}

.boutonInscription:hover, .boutonConnexion:hover, .toggle-button.disabled:hover {
    background-color: #45a3bf; /* Nouvelle couleur de fond au survol */
}

.boutonInscription, .boutonConnexion  {
  background-color: #06b5ec;
  color: white;
  border: none;
  border-radius: 20px; 
  padding: 8px 50px; 
  cursor: pointer;
}


.bouton {
  margin-top: 15%;
}
.boutonInscription a, .boutonConnexion a {
  color: white;
}
.sous-container {
  margin: 5%;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 70px;
  background-image: linear-gradient(to bottom, #C7E6F0 0%, #ffffff 50%, #C7E6F0 100%);
}

/* Styles pour le bouton désactivé */
.toggle-button.disabled {
  opacity: 1;  
  background-color: #06B5EC;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 15px 50px;
  cursor: pointer;
  margin-bottom: 5%;
}

/* Styles pour le bouton actif */
.toggle-button:active,
.toggle-button.active {
  opacity: 0.2;  
  cursor: not-allowed !important;
  background-color: #808080;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 15px 50px;
  margin-bottom: 5%;
}

.progress {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#progressBar {
    height: 100%;
    width: 0;
    border-radius: 5px;
    transition: width 0.5s ease;
}

.input-error {
    border: 1px solid red;
}





                    /* Page Creation Post */

/* Styles pour le formulaire */
.post-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.post-form {
    margin: 2%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    background-image: linear-gradient(to bottom, #C7E6F0 0%, #ffffff 50%, #C7E6F0 100%);
}

.post-form label, .post-form input, .post-form textarea {
    display: block;
    margin: 10px 0;
}

.post-toggle-label {
    display: flex;
    align-items: center;
}


/* Nouvelles règles CSS pour aligner l'image et le fichier à gauche */
.left-section {
  flex:2;
  margin: 0 auto;
}

/* Ajoutez un peu d'espace entre les éléments de gauche et de droite */
.right-section {
  width: 50%; /* Vous pouvez ajuster la largeur selon vos besoins */
  margin: 0 auto; /* Centre horizontalement */
}
#description{
  width: 100%;
  border-radius:10px;
  resize: none;
}


/* Réglez la largeur de l'image à 100% pour qu'elle s'adapte à la partie gauche */
#image-preview {
  max-width: 40%;
  width: 40%;
}

/* Ajoutez un peu d'espace en bas de l'image pour séparer les sections */
#image-preview {
   margin: 15% }

.custom-file-input {
    position: absolute;
    left: -9999px; /* Positionne l'élément en dehors de la zone visible */
}

.custom-file-label {
    background-color: #06B5EC; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 20px; /* Rembourrage du bouton */
    cursor: pointer; /* Curseur en main pointer pour indiquer que c'est cliquable */
    border-radius: 15px;
    width: 60%;
    
}

.custom-file-label:hover {
    background-color: #45a3bf; /* Couleur de fond au survol */
}


.creationPost {
  display: flex;
  flex-direction: row;
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 5px;
  align-items: center;
}

.tags-input .tag {
  display: inline-block; /* Pour afficher les tags horizontalement */
  background-color: #06B5EC;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.tags-input .tag:hover {
  background-color: #0056b3;
}



.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}



.post-form-button{
   background-color: #06B5EC;
  color: #fff; /* Texte blanc */
  padding: 10px 20px; /* Rembourrage */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en main pointer pour indiquer que c'est cliquable */
  transition: background-color 0.2s; /* Transition de couleur de fond au survol */

}
.post-form-button:hover{
  background-color:  #45a3bf; /* Couleur de fond au survol */
}

.plus {
  width: 15%;
}

                            /* Page Suivie */


/* Styles pour la liste des abonnés */

.img-profile {
    border-radius: 50%;
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

/* Intégration des styles dans les sélecteurs existants */
.followers-list, .followed-list, .recherche-list {
    list-style-type: none;
    padding: 0;
}

.follower, .followed, .recherche {
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-list {
  width:60%
  
}

.imgHumain {
    width: 5%;
    border-radius: 50%;
    margin-right: 5%;
}

.followers-container, .followed-container, .recherche-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #C7E6F0 0%, #ffffff 50%, #C7E6F0 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 40%;
}

.followers-titre, .followed-titre, .recherche-titre {
    margin-bottom: 3%;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5%;
}

.no-contact-message {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
}

.imgAbonnements, .imgAbonnes, .recherche-image {
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  margin-right: 5%;
  object-fit : cover;
}

.followers-list a, .followed-list a, .recherche-list a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.followers-list a:hover, .followed-list a:hover, .recherche-list a:hover {
    background-color: #f0f0f0;
}
                                /* Page Profile */


.profile-container {
    margin: 4%;
    width: 80%;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    background-image: linear-gradient(to bottom, #C7E6F0 0%, #ffffff 50%, #C7E6F0 100%);
}

.profile-block {
    display: flex;
    align-items: center;
}

.profile-image {
  max-width: 13rem;
  max-height: 13rem;
  min-width: 13rem;
  min-height: 13rem;
  border-radius: 50%;
  margin-right: 5%;
  object-fit : cover;
  margin : 4%;
}

.profile-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
   margin-bottom: 30px;
}

.profile-info {
    margin: 0;
    font-size: 18px;
    margin-bottom: 40px;
}

.bio p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-stats {
    display: flex;
    gap: 20px;
}

.profile-stats p {
    font-size: 18px;
}

.edit-profile-button {
    margin-top: 20px;
    background-color: #06B5EC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    margin-top: 10%;
}

.edit-profile-button:hover {
  background-color:#45a3bf
}

.subscribe-button {
    margin-top: 20px;
    background-color: #06B5EC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    margin-top: 10%;
}

.subscribe-button:hover {
  background-color:#45a3bf
}


.profil-left {
  width: 80%;
  margin-left: 3%;
}

.profil-right {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  gap: 20px;
}

.Monney {
  display: flex;
  align-items: center;
}


.ImgCoins {
  width: 8%;
}

.profile-info input {
    margin-bottom: 20px; 
}


.bio textarea {
    height: 100px; 
    width: 100%; 
}

.profile-info .age-input {
  width: 15%; 
}


                                    /* Page MentionLegales */


.mentionLegales {
  text-align: center;
  width:50%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  margin: 7%;
}

.TitreMentionLegales {
  margin-bottom: 7%;
}


                                   /* Page Compte */


.compte-container {
  margin: 2%;
  width: auto;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding-left: 75px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 75px;
  background-image: linear-gradient(to bottom, #C7E6F0 0%, #ffffff 50%, #C7E6F0 100%);
}

.compte-block {
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}

.compte-info {
    display: flex;
    align-items: center;
}

.compte-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 3%;
  gap: 20px;
}

.compte-right {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  gap: 15px;
}
.compte-image {
  max-width: 13rem;
  max-height: 13rem;
  min-width: 13rem;
  min-height: 13rem;
  border-radius: 50%;
  margin-right: 5%;
  object-fit: cover;
}

.edit-motdepasse-button {
    background-color: #06B5EC;
    color: white;
    padding: 5px 0px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10%;
}

.edit-motdepasse-button:hover {
  background-color:#45a3bf
}

                                  /* Chargement */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
}

.loader-inner {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  border: 4px solid #c1e9ff;
  border-top-color: #9ad4ff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fade-in-transition {
  animation: fade-out 1s ease-out forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


                               /* Post Unique */

.PostMessage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 35%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-image: linear-gradient(to bottom, rgba(233,246,246,0.9) 0%, rgba(233,246,246,0) 100%);
   margin-top: 3%;
}

.solocontainer {
    display: flex;
    justify-content: center;
}


.comment {
    margin: 10px;
    padding: 10px;
    margin: 6%;
    display: flex;
    align-items: center;
   background: white;
}


.comment span {
  margin-left: 6px;
  margin-top: 15px;
  line-height: 100%;
  display: flex; 
}

.img-like {
  cursor: pointer;
  margin-top: 3%;
  width: 75%;
  margin-right: 10%;
  height: 15%;
}

.img-chat,
.img-partage {
  cursor: pointer;
}

.commentContainer {
  margin-left: 32.5%;
  margin-right: 32.5%;
  background-image: linear-gradient(to bottom, rgba(233,246,246,0.9) 0%, rgba(233,246,246,0.9) 100%);
  border: 1px solid rgba(0,0,0,.125);
}

.user-container {
  display:flex;
  width: 85%;
}

.user-souscontainer {
   white-space: nowrap;
   display:flex;
}

.comment-bar {
  margin: 5%;
  display: flex;
}

.ContainerLikeText {
  margin-left: auto; 
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 5%;
   margin-bottom: 5%;
  width: 10%;
}

.CommentButton {
  background-color: #06B5EC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 5%;
}

                              /* Messagerie */

#chat-container {
  display: flex;
  height: 85vh;
}

#sidebar {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #c6dce9;
  color: #fff;
  margin-left: 10%;
  margin-top: 3%;
  overflow: auto;
}

#room-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#room-buttons button {
  display: block;
  width: 80%;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#room-buttons button:hover {
  background-color: #2980b9;
}

#room-buttons button.active {
  background-color: #66ddcd;
}

#load-more-button {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #3c7ca1;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#load-more-button:hover {
  background-color: #67afd9;
}

#main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items:center;
}

#messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 2%;
  margin-top: 3%;
  width: 70%;
}

#messages-container img {
  width: 10%;
}

#input-container {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 50%;
}

#message-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

#send-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 5%;
}

#send-button img {
  height: auto; 
  display: block; 
  max-width: 100%; 
}



                                /* Post unique */


/* Ajoutez ce style à votre fichier CSS */
.confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dialog-content {
    text-align: center;
}

.confirmation-dialog button {
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

                              /* VoirPlus */
.recherche-result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
